
   .row {
     display: flex ;
   }
      
   .span6 {
     flex: 0.5;
     padding: 20px;
     box-sizing: border-box;
    }
    .span3{
      flex: 0.33;
      padding: 20px;
      box-sizing: border-box;
    }
    .span12{
      flex: 1;
      padding: 20px;
      box-sizing: border-box;
    }
    label{
      font-weight: bold;
    }
    h1{
      color:blue;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .to-do-container{
      background-color: antiquewhite;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 50%;
      flex-direction: column;
    }
    .btn-default {
      font-size: 17px;
      background-color: #54d04b;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 15px;
  
    }
    .main-div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn-default:hover {
      background-color: #54d04b;
    }
    input[type=text], select , input[type=radio] , input[type=date] , textarea {
      width: 100%;
      padding: 6px 10px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .radio{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 6px 3px 0px;
    }
    .radio-label{
      display: flex;
      align-items: center;
    }
    .red{
      color: red;
    }
    .image{
      width: 100px;
      margin-top: 20px;
    }